{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} text-center alert-dismissible fade show" style="margin-top: 10px;">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endfor %}
{% endif %}